.home{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei";;
}
.logo-link{
    position: fixed;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
    background-image: url('../../../img/logo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    border-radius: 100px;
}
.swiper-container{
    width: 100%;
    height: 100%;
    background-color: #4693ec;
}
#slide-1{
    background-color: #c7c7c7;
}
.slide-1-body{
    width: 1080px;
    height: 100%;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.slide-1-body h5{
    color: black;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-top: 200px;
}
.slide-1-body hr{
    width: 100%;
    color: black;
    border-top-width: 2px;
    border-bottom: none;
    border-top-color: black;
    margin-top: 10px;
    margin-bottom: 40px;
}
.slide-1-body p{
    font-size: 20px;
    color: black;
    padding-top: 20px;
}
#slide-2{
    background-color: #bfd9e6;
}
.slide-2-body{
    width: 1080px;
    height: 100%;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.s2-message{
    margin-top: 150px;
    width: 720px;
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.s2-message div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.age{
    width: 150px;
    height: 100px;
}
.age span{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: auto;
    background-image: url('../../../img/my.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.age p{
    color:black;
    font-size: 20px;
}
.graduate{
    width: 150px;
    height: 100px;
}
.graduate span{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: auto;
    background-image: url('../../../img/学历.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.graduate p{
    color:black;
    font-size: 20px;
}
.possition{
    width: 150px;
    height: 100px;
}
.possition span{
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: auto;
    background-image: url('../../../img/定位.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.possition p{
    color:black;
    font-size: 20px;
}
.eng{
    width: 150px;
    height: 100px;
}
.eng span{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: auto;
    background-image: url('../../../img/A级别.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.eng p{
    color:black;
    font-size: 20px;
}
.s2-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.s2-content p{
    color: black;
    font-size: 15px;
}
#slide-3{
    background-color: #7fc0e6;
}
.slide-3-body{
    width: 1080px;
    height: 100%;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.s3-title h5{
    color: black;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-top: 150px;
    margin-bottom: 30px;
}
.html{
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.html p{
    color: black;
    font-size: 18px;
}
.html .total{
    display: inline-block;
    width: 200px;
    height: 10px;
    background-color: #bfd9e6;
    border-radius: 10px;
}
.html .percent{
    display: inline-block;
    width: 80%;
    height: 10px;
    background-color: #2363da;
    border-radius: 10px;
    margin-bottom: 5px;
}
.css{
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.css p{
    color: black;
    font-size: 18px;
}
.css .total{
    display: inline-block;
    width: 200px;
    height: 10px;
    background-color: #bfd9e6;
    border-radius: 10px;
    margin-left: 12px;
}
.css .percent{
    display: inline-block;
    width: 80%;
    height: 10px;
    background-color: #2363da;
    border-radius: 10px;
    margin-bottom: 5px;
}
.hjs{
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hjs p{
    color: black;
    font-size: 18px;
}
.hjs .total{
    display: inline-block;
    width: 200px;
    height: 10px;
    background-color: #bfd9e6;
    border-radius: 10px;
    margin-left: 22px;
}
.hjs .percent{
    display: inline-block;
    width: 75%;
    height: 10px;
    background-color: #2363da;
    border-radius: 10px;
    margin-bottom: 5px;
}
.vue{
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.vue p{
    color: black;
    font-size: 18px;
}
.vue .total{
    display: inline-block;
    width: 200px;
    height: 10px;
    background-color: #bfd9e6;
    border-radius: 10px;
    margin-right: 15px;
}
.vue .percent{
    display: inline-block;
    width: 80%;
    height: 10px;
    background-color: #2363da;
    border-radius: 10px;
    margin-bottom: 5px;
}
.node{
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.node p{
    color: black;
    font-size: 18px;
}
.node .total{
    display: inline-block;
    width: 200px;
    height: 10px;
    background-color: #bfd9e6;
    border-radius: 10px;
    margin-right: 26px;
}
.node .percent{
    display: inline-block;
    width: 20%;
    height: 10px;
    background-color: #2363da;
    border-radius: 10px;
    margin-bottom: 5px;
}
.python{
    margin-top: 20px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.python p{
    color: black;
    font-size: 18px;
}
.python .total{
    display: inline-block;
    width: 200px;
    height: 10px;
    background-color: #bfd9e6;
    border-radius: 10px;
    margin-right: 26px;
}
.python .percent{
    display: inline-block;
    width: 35%;
    height: 10px;
    background-color: #2363da;
    border-radius: 10px;
    margin-bottom: 5px;
}